<div class="sidebar" style="background-color: #28a745; color: white;">
    <div class="sidebar-header">
      <a class="navbar-brand fw-bold" href="#">🌿 FarmMate</a>
    </div>
    
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: white;">
          <i class="fas fa-tachometer-alt"></i> Dashboard
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
          <i class="fas fa-box"></i> Gestion de Produits
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" [routerLink]="['quality-control']">Contrôle de Qualité</a></li>
        </ul>
      </li>
    </ul>
  </div>
  