<footer class="bg-success text-white pt-5 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6">
        <h4 class="fw-bold">Let's Keep in Touch!</h4>
        <p>Find us on any of these platforms, we respond within 1-2 business days.</p>
        <div class="d-flex justify-content-start">
          <button class="btn btn-outline-light me-2" type="button">
            <i class="fab fa-twitter"></i>
          </button>
          <button class="btn btn-outline-light me-2" type="button">
            <i class="fab fa-facebook-square"></i>
          </button>
          <button class="btn btn-outline-light me-2" type="button">
            <i class="fab fa-dribbble"></i>
          </button>
          <button class="btn btn-outline-light me-2" type="button">
            <i class="fab fa-github"></i>
          </button>
        </div>
      </div>

      <div class="col-12 col-md-6 mt-4 mt-md-0">
        <h5 class="fw-semibold">Useful Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-white" href="https://www.creative-tim.com/presentation?ref=na-footer">About Us</a></li>
          <li><a class="text-white" href="https://blog.creative-tim.com?ref=na-footer">Blog</a></li>
          <li><a class="text-white" href="https://www.github.com/creativetimofficial?ref=na-footer">Github</a></li>
          <li><a class="text-white" href="https://www.creative-tim.com/bootstrap-themes/free?ref=na-footer">Free Products</a></li>
        </ul>
      </div>
    </div>

    <hr class="border-light" />

    <div class="text-center">
      <p class="mb-0">
        <a class="text-white" href="https://www.creative-tim.com?ref=na-footer">Creative Tim</a> &copy; 2025
      </p>
    </div>
  </div>
</footer>

<!-- Assurez-vous d'inclure le CDN pour Font Awesome si ce n'est pas déjà fait -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
